@import "../../styles";

$btn-group-color: $color-gray--dark2;
$btn-group-button-margin: 0;
$btn-group-button-padding: $base-padding-small-top;
$btn-group-button-margin: 0;
$btn-group-type-iconic-width: rem(1.75);
$btn-group-type-iconic-padding: 0;
$btn-group-icon-font-size: rem(1);

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: $base-border-width solid transparent;
  border-radius: $base-border-radius;
  cursor: pointer;
  @include btn-size();
  &--primary {
    @include btn-color(
      $base-inverse-color,
      $btn-primary-bg,
      $btn-primary-border,
      $base-inverse-color,
      $btn-primary-bg--hover,
      $btn-primary-border--hover,
      $base-inverse-color,
      $btn-primary-bg--focus,
      $btn-primary-border--focus,
      $base-inverse-color,
      $base-color--active,
      $base-color--active,
      $btn-primary-color--disabled,
      $btn-primary-bg--disabled,
      $btn-primary-border--disabled
    );
  }
  &--secondary {
    @include btn-color(
      $base-brand-color,
      transparent,
      $btn-secondary-border,
      $btn-secondary-color--hover,
      $btn-secondary-bg--hover,
      $btn-secondary-border--hover,
      $btn-secondary-color--focus,
      $btn-secondary-bg--focus,
      $btn-secondary-border--focus,
      $btn-secondary-color--active,
      $btn-secondary-bg--active,
      $btn-secondary-border--active,
      $btn-secondary-color--disabled,
      transparent,
      $btn-secondary-border--disabled
    );
  }
  &--tertiary,
  &--tertiary-alt,
  &--tertiary-icon {
    line-height: normal;
    background-color: transparent;
    appearance: none;
    border-width: 0;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
    &:hover {
      color: $btn-tertiary-color--hover;
      background-color: $btn-tertiary-bg--hover;
    }
    &:focus {
      box-shadow: $base-box-shadow;
    }
    &:active {
      background-color: $btn-tertiary-bg--active;
    }
    &.disabled,
    &:disabled {
      box-shadow: none;
      opacity: $btn-tertiary-opacity--disabled;
    }
  }
  &--tertiary {
    color: $base-brand-color;
    &:focus {
      color: $btn-tertiary-color--focus;
    }
    &:active {
      color: $btn-tertiary-color--active;
    }
    &.disabled,
    &:disabled {
      color: $btn-tertiary-color--disabled;
    }
  }
  &--tertiary-alt,
  &--tertiary-icon {
    color: $base-color;
    .icon {
      margin: $btn-tertiary-alt-icon-margin;
    }
    &:hover {
      .icon {
        color: $btn-tertiary-color--hover;
      }
    }
    &:active {
      color: $btn-tertiary-alt-color--active;
      .icon {
        color: $btn-tertiary-alt-color--active;
      }
    }
    &.disabled,
    &:disabled {
      color: $base-color;
    }
  }
  &--tertiary-icon {
    padding: $btn-tertiary-icon-padding;
  }
}
.btn-group {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  .btn + .btn {
    border-left: $base-border-width solid transparent;
    margin: $btn-group-button-margin;
  }
  > .btn {
    background-color: transparent;
    color: $btn-group-color;
    display: inline-flex;
    flex: 0 1 auto;
    box-shadow: none;
    align-items: center;
    justify-content: center;
    border: $base-border-width solid $base-stroke-color;
    &--state-selected {
      border: $base-border-width solid $base-color--selected;
      background-color: $base-color--selected;
      color: $base-inverse-color;
      .icon {
        color: $base-inverse-color;
      }
    }
    &:hover {
      color: $base-inverse-color;
      background-color: $base-color--hover;
      border-color: $base-color--hover;
      .icon {
        color: $base-inverse-color;
      }
    }
    &:focus {
      border-color: $base-brand-color;
      box-shadow: $base-box-shadow;
    }
    &:active {
      color: $base-inverse-color;
      background-color: $base-color--active;
      border-color: $base-color--active;
      .icon {
        color: $base-inverse-color;
      }
    }
  }
  // Reset rounded corners
  > .btn:not(:last-child),
  > .btn-group:not(:last-child) > .btn {
    @include border-right-radius(0);
  }
  > .btn:not(:first-child),
  > .btn-group:not(:first-child) > .btn {
    @include border-left-radius(0);
  }
  // Prevent double borders when buttons are next to each other
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -$base-border-width;
  }
  &--type-iconic {
    .btn {
      min-width: $btn-group-type-iconic-width;
      padding: $btn-group-type-iconic-padding;
      .icon {
        font-size: $btn-group-icon-font-size;
      }
    }
  }
}
.a-app--animated .btn {
  @include transition($btn-transition);
}
