@import "../../styles";

$steps-max-width: 1000px;
$steps-max-width-vertical: 300px;
$steps-padding: 20px 0;
$steps-margin: 0 auto 20px;
$step-icon-width: 24px;
$step-icon-min-width: 24px;
$step-icon-max-width: 24px;
$step-icon-height: 24px;
$step-icon-line-height: $line-height--lg;
$step-icon-font-size: $font-size--xs;
$step-icon-color: $color-gray--dark3;
$step-icon-color-visited: $color-gray--dark3;
$step-icon-border-color: $color-gray--light1;
$step-icon-bg: $base-inverse-color;
$step-icon-bg-visited: $base-inverse-color;
$step-icon-margin: 10px;
$step-content-width: 100%;
$step-content-margin: 12px 0 0 0;
$step-label-font-size: $font-size--sm;
$step-title-padding: 0 10px 0 0;
$step-hint-color: $color-gray--medium3;
$step-hint-font-size: 13px;
$step-hint-line-height: 20px;
$step-line-width: calc(100% - 44px);
$step-line-vertical-width: 1px;
$step-line-heigth: 1px;
$step-line-vertical-heigth: calc(100% - 40px);
// These variables will be used in next release in _sidebar.scss
$step-line-height: 1px;
$step-line-vertical-height: calc(100% - 40px);
$step-line-top: 22px;
$step-line-vertical-top: 44px;
$step-line-left: 44px;
$step-line-vertical-left: 22px;
$step-line-color: $color-gray--light1;

.steps {
  display: flex;
  flex: 1;
  align-items: top;
  justify-content: space-around;
  max-width: $steps-max-width;
  margin: $steps-margin;
  padding: $steps-padding;
  text-align: center;
  .step {
    position: relative;
    display: inline-flex;
    flex: 1;
    &__icon {
      width: $step-icon-width;
      min-width: $step-icon-min-width;
      max-width: $step-icon-max-width;
      height: $step-icon-height;
      line-height: $step-icon-line-height;
      font-size: $step-icon-font-size;
      background: $step-icon-bg;
      color: $step-icon-color;
      border: $base-border-width solid $step-icon-border-color;
      margin: $step-icon-margin;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      z-index: 1;
      .icon-checkmark {
        color: $color-good;
      }
    }
    &__content {
      width: $step-content-width;
      text-align: left;
      margin: $step-content-margin;
    }
    &__label {
      color: $base-color;
      font-size: $step-label-font-size;
    }
    &__title {
      background: $base-bg;
      padding: $step-title-padding;
    }
    &__hint {
      color: $step-hint-color;
      font-size: $step-hint-font-size;
      line-height: $step-hint-line-height;
    }

    &.active {
      .step__icon {
        background: $base-color--selected;
        color: $base-inverse-color;
        border: $base-border-width solid $base-color--selected;
      }
    }

    &.visited {
      .step__icon {
        background: $step-icon-bg-visited;
        color: $step-icon-color-visited;
        border: $base-border-width solid $color-good;
      }
    }
    &.visited {
      &:before {
        background: $color-good;
      }
    }
    &:last-child {
      &:before {
        display: none;
      }
    }
    &:before {
      top: $step-line-top;
      display: block;
      position: absolute;
      content: "";
      width: $step-line-width;
      // This variable will be switched to "$step-line-height" next release;
      height: $step-line-heigth;
      left: $step-line-left;
      background: $step-line-color;
      z-index: -1;
    }
  }
  &--orientation-vertical {
    display: flex;
    flex-direction: column;
    max-width: $steps-max-width-vertical;
    text-align: left;
    .step {
      display: flex;
      .step__icon {
        flex: 1;
      }
      &__content {
        flex: 2;
        align-self: center;
      }
      &:before {
        display: none;
      }
      &.visited {
        &:after {
          background: $color-good;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: $step-line-vertical-width;
        // This variable will be switched to "$step-line-vertical-height" next release;
        height: $step-line-vertical-heigth;
        left: $step-line-vertical-left;
        top: $step-line-vertical-top;
        background-color: $step-line-color;
      }
    }
  }
}
