@import "../../styles/index.scss";

@include theme(a-steps) using ($theme) {
  .a-step {
    &__icon {
      background: map-deep-get($theme, "base", "inverse-color");
      color: initial; // map-deep-get($theme, "steps", "step-icon-color");
      border: $border-width solid
        map-deep-get($theme, "steps", "step-icon-border-color");
    }

    &__title {
      background: map-get($theme, "base", "bg");
    }
    &__active {
      .a-step__icon {
        background: map-get($theme, "base", "color--selected");
        color: map-get($theme, "base", "inverse-color");
        border: $border-width solid map-get($theme, "base", "color--selected");
      }
    }
    &__divider {
      border: 0px;
      height: 1px;
      background-color: map-deep-get($theme, "steps", "step-line-color");
    }
    &__visited {
      .a-step__icon {
        background: map-deep-get($theme, "base", "inverse-color");
        color: initial; //map-deep-get($theme, "steps", "step-icon-color-visited");
      }
      .a-step__divider {
        background-color: $color-good;
        border: 0px;
        height: 1px;
      }
    }
    &:before {
      background: map-deep-get($theme, "steps", "step-line-color");
    }
  }
  &--orientation-vertical {
    .a-step {
      &:after {
        background-color: map-deep-get($theme, "steps", "step-line-color");
      }
    }
  }

  &--type-expanded {
    .a-step {
      border: map-get($theme, "base", "border-width") solid
        map-get($theme, "control", "stroke-color");
    }
  }
}

$steps-min-width: 0;
$steps-max-width: 1000px;
$steps-max-width-vertical: 300px;
$steps-padding: 20px 0;
$steps-margin: 0 auto 20px;
$step-icon-width: 24px;
$step-icon-min-width: 24px;
$step-icon-max-width: 24px;
$step-icon-height: 24px;
$step-icon-line-height: $line-height--lg;
$step-icon-font-size: $font-size--xs;
$step-icon-margin: 10px;
$step-content-width: 100%;
$step-content-margin: 12px 0 0 0;
$step-label-font-size: $font-size--sm;
$step-title-padding: 0 10px 0 0;
$step-hint-color: map-get($grey, "darken-2");
$step-hint-font-size: 13px;
$step-hint-line-height: 20px;
$step-line-width: calc(100% - 44px);
$step-line-vertical-width: 1px;
$step-line-heigth: 1px;
$step-line-vertical-heigth: calc(100% - 40px);
// These variables will be used in next release in _sidebar.scss
$step-line-height: 1px;
$step-line-vertical-height: calc(100% - 40px);
$step-line-top: 22px;
$step-line-vertical-top: 44px;
$step-line-left: 44px;
$step-line-vertical-left: 22px;
.a-steps {
  display: flex;
  flex: 1;
  align-items: top;
  justify-content: space-around;
  max-width: $steps-max-width;
  margin: $steps-margin;
  padding: $steps-padding;
  text-align: center;
  .a-step {
    position: relative;
    display: inline-flex;
    flex: 1;
    &__icon {
      width: $step-icon-width;
      min-width: $step-icon-min-width;
      max-width: $step-icon-max-width;
      height: $step-icon-height;
      line-height: $step-icon-line-height;
      font-size: $step-icon-font-size;
      margin: $step-icon-margin;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      z-index: 1;
      &__checkmark {
        color: $color-good;
      }
    }
    &__content {
      width: $step-content-width;
      text-align: left;
      margin: $step-content-margin;
    }
    &__label {
      color: map-get($grey, "darken-4");
      font-size: $step-label-font-size;
      display: flex;
      align-items: center;
    }
    &__divider {
      flex-grow: 1;
    }
    &__title {
      padding: $step-title-padding;
    }
    &__hint {
      color: $step-hint-color;
      font-size: $step-hint-font-size;
      line-height: $step-hint-line-height;
    }

    &__visited {
      .a-step__icon {
        border: $border-width solid $color-good;
      }
    }
    &__visited {
      &:before {
        background: $color-good;
      }
    }
    &:before {
      top: $step-line-top;
      display: block;
      position: absolute;
      content: "";
      width: $step-line-width;
      // This variable will be switched to "$step-line-height" next release;
      height: $step-line-heigth;
      left: $step-line-left;
      z-index: -1;
    }
    &:last-child {
      .a-step__divider {
        display: none;
      }
    }
  }
  &--orientation-vertical {
    display: flex;
    flex-direction: column;
    max-width: $steps-max-width-vertical;
    text-align: left;
    .a-step {
      display: flex;
      &__divider {
        display: none;
      }
      .a-step__icon {
        flex: 1;
      }
      &__content {
        flex: 2;
        align-self: center;
      }
      &:before {
        display: none;
      }
      &__visited {
        &.a-step:after {
          background: $color-good;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: $step-line-vertical-width;
        // This variable will be switched to "$step-line-vertical-height" next release;
        height: $step-line-vertical-heigth;
        left: $step-line-vertical-left;
        top: $step-line-vertical-top;
      }
    }
  }

  &--type-expanded {
    margin: 0;
    width: 100%;
    min-width: $steps-min-width;
    max-width: $steps-max-width;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    text-align: left;
    padding: 0;
    box-shadow: $default-box-shadow;

    .a-step {
      &:before {
        display: none;
      }

      &__visited {
        &:after {
          display: none;
        }
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}
