@import "../../styles/index.scss";

@include theme(a-steps) using ($theme) {
  .a-step {
    &__icon {
      border: $border-width solid
        map-deep-get($theme, "steps", "step-icon-border-color");
    }
    &__active {
      .a-step__icon {
        background: map-get($theme, "base", "color--selected");
        color: map-get($theme, "base", "inverse-color");
        border: $border-width solid map-get($theme, "base", "color--selected");
      }
    }
    &__divider {
      background-color: map-deep-get($theme, "steps", "step-line-color");
    }
    &__visited {
      .a-step__divider {
        background-color: $color-good;
      }
    }
  }
  &--orientation-vertical {
    .a-step {
      &:after {
        background-color: map-deep-get($theme, "steps", "step-line-color");
      }
    }
  }
}

$steps-min-width: 0;
$steps-padding: 20px 0;
$steps-margin: 0 auto 20px;
$step-icon-width: 24px;
$step-icon-min-width: 24px;
$step-icon-max-width: 24px;
$step-icon-height: 24px;
$step-icon-line-height: $line-height--lg;
$step-icon-font-size: $font-size--xs;
$step-icon-margin: 10px;
$step-content-width: 100%;
$step-content-margin: 12px 0 0 0;
$step-label-font-size: $font-size--sm;
$step-title-padding: 0 10px 0 0;
$step-hint-color: map-get($grey, "darken-2");
$step-hint-font-size: 13px;
$step-hint-line-height: 20px;
$step-line-vertical-width: 1px;
$step-line-vertical-heigth: calc(100% - 40px);
// These variables will be used in next release in _sidebar.scss
$step-line-vertical-height: calc(100% - 40px);
.a-steps {
  display: flex;
  flex: 1;
  align-items: top;
  justify-content: space-around;
  margin: $steps-margin;
  padding: $steps-padding;
  text-align: center;
  .a-step {
    position: relative;
    display: inline-flex;
    flex: 1;
    &__icon {
      width: $step-icon-width;
      min-width: $step-icon-min-width;
      max-width: $step-icon-max-width;
      height: $step-icon-height;
      line-height: $step-icon-line-height;
      font-size: $step-icon-font-size;
      margin: $step-icon-margin;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      z-index: 1;
      &__checkmark {
        color: $color-good;
      }
    }
    &__content {
      width: $step-content-width;
      text-align: left;
      margin: $step-content-margin;
    }
    &__label {
      color: map-get($grey, "darken-4");
      font-size: $step-label-font-size;
      display: flex;
      align-items: center;
    }
    &__divider {
      flex-grow: 1;
      border: 0px;
      height: 1px;
    }
    &__title {
      padding: $step-title-padding;
    }
    &__hint {
      color: $step-hint-color;
      font-size: $step-hint-font-size;
      line-height: $step-hint-line-height;
    }
    &__disabled {
      color: map-get($grey, "darken-4");
    }

    &__visited {
      .a-step__icon {
        border: $border-width solid $color-good;
      }
    }
    &:last-child {
      .a-step__divider {
        display: none;
      }
    }
  }
  &--orientation-vertical {
    display: flex;
    flex-direction: column;
    text-align: left;
    .a-step {
      display: flex;
      &__divider {
        display: none;
      }
      .a-step__icon {
        flex: 1;
      }
      &__content {
        flex: 2;
        align-self: center;
      }
      &__visited {
        &.a-step:after {
          background: $color-good;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: $step-line-vertical-width;
        // This variable will be switched to "$step-line-vertical-height" next release;
        height: $step-line-vertical-heigth;
        left: 22px;
        top: 44px;
      }
    }
  }
}
