@import "../../styles";

$radio-border--enabled: map-get($grey, "lighten-2");
$radio-fill-height: 7px;
$radio-fill-width: 7px;
$radio-fill-height--active: 5px;
$radio-fill-width--active: 5px;
$radio-height: 15px;
$radio-padding: 10px;
$radio-width: 15px;
$radio-transition: border-color $transition-duration--extra-fast
    $transition-timing-function--standard,
  box-shadow $transition-duration--extra-fast
    $transition-timing-function--standard;

@include theme(a-radio) using ($theme) {
  &__input {
    & ~ .a-radio__box {
      border-color: map-deep-get($theme, "radio", "border--disabled");

      &:hover {
        border-color: map-deep-get($theme, "radio", "border--disabled");
      }
    }

    &:enabled ~ .a-radio__box {
      border-color: map-deep-get($theme, "base", "stroke-color");

      &:hover {
        border-color: map-deep-get(
          $theme,
          "radio",
          "box-border--enabled--hover"
        );
      }
    }

    &:focus ~ .a-radio__box {
      border-color: map-deep-get($theme, "base", "brand-color");
      box-shadow: map-deep-get($theme, "base", "box-shadow");
    }

    &:enabled:checked ~ .a-radio__box {
      &:after {
        background-color: map-deep-get($theme, "radio", "border--checked");
        border-color: map-deep-get($theme, "radio", "border--checked");
      }
      &:hover:after {
        background-color: map-deep-get($theme, "radio", "fill--checked--hover");
        border-color: map-deep-get($theme, "radio", "fill--checked--hover");
      }
    }

    &:enabled:active ~ .a-radio__box {
      &:after {
        border-color: map-deep-get($theme, "radio", "border--enabled--active");
        background-color: map-deep-get($theme, "radio", "fill--enabled");
      }

      &:hover:after {
        border-color: map-deep-get($theme, "radio", "border--active--hover");
        background-color: map-deep-get($theme, "radio", "fill--active--hover");
      }
    }

    &:disabled ~ .a-radio__box {
      background-color: map-deep-get($theme, "radio", "box-bg--disabled");
      opacity: map-deep-get($theme, "radio", "opacity--disabled");
    }

    &:disabled ~ .a-radio__box:after {
      background-color: map-deep-get($theme, "radio", "bg--disabled");
      border-color: map-deep-get($theme, "radio", "border--disabled");
    }

    &:disabled:checked ~ .a-radio__box:after {
      background-color: map-deep-get($theme, "control", "fill-color--disabled");
    }

    &:disabled ~ .a-radio__label {
      color: map-deep-get($theme, "radio", "label-color--disabled");
    }
  }
}

.a-radio {
  display: flex;
  padding: ($radio-padding / 2) $radio-padding;
  position: relative;
  cursor: pointer;

  &__input {
    @include hidden-input;

    & ~ .a-radio__box {
      width: $radio-width;
      height: $radio-height;
      top: 2px;
      position: relative;
      display: inline-block;
      margin: 0 10px 0 0;
      border-width: $border-width;
      border-style: solid;
      border-radius: 50%;

      &:hover {
        border-width: $border-width;
        border-style: solid;
      }

      &:after {
        content: "";
        position: absolute;
        height: $radio-fill-height;
        width: $radio-fill-width;
        left: 3px;
        top: 3px;
        border-radius: 50%;
        border: $border-width solid $radio-border--enabled;
      }
    }

    &:enabled ~ .a-radio__box {
      border-width: $border-width;
      border-style: solid;

      &:hover {
        border-width: $border-width;
        border-style: solid;
      }
    }

    &:focus ~ .a-radio__box {
      border-width: $border-width;
      border-style: solid;
    }

    &:enabled:active ~ .a-radio__box {
      &:after {
        height: $radio-fill-height--active;
        width: $radio-fill-width--active;
        left: 4px;
        top: 4px;
        border-width: $border-width;
        border-style: solid;
      }

      &:hover:after {
        border-width: $border-width;
        border-style: solid;
      }
    }

    &:disabled ~ .a-radio__box:after {
      pointer-events: none;
    }
  }

  &__label {
    display: inline-block;
    flex: 1 1 0%;
    position: relative;
    @include text-truncate;
  }

  &__label--wrap {
    white-space: normal;
    overflow: visible;
  }

  &--disabled {
    cursor: default;
  }
}

.a-app--animated .a-radio {
  &__input {
    & ~ .a-radio__box {
      @include transition($radio-transition);
    }
  }
}
