@import "../../styles";

$switch-width: 38px;
$switch-height: 15px;
$switch-margin: 10px 10px;
$switch-border-radius: 11px;
$switch-bg: $color-gray--dark3;
$switch-bg--checked: $color-category--blue--burnt1;
$switch__label-margin: 0 0 0 10px;
$switch__circle-width: 21px;
$switch__circle-height: 21px;
$switch__circle-border-radius: 30px;
$switch__circle-border-color: $color-gray--dark3;
$switch__circle-border-color--checked: $color-category--blue--burnt1;
$switch__circle-border-color--disabled: $control-stroke-color--disabled;
$switch__circle-border-color--checked--hover: $control-stroke-color--hover;
$switch__circle-border-color--hover: $color-category--blue--burnt1;
$switch-bg--disabled: $control-stroke-color--disabled;
$switch-bg--disabled--checked: $color-status--blue--wash2;
$switch__circle-border-color--disabled--checked: $color-status--blue--wash2;
$switch__circle--inner-box-shadow-hover: $color-status--blue--wash2;
$switch__circle--inner-border-active: $color-gray--dark3;
$switch__circle--inner-box-shadow-active: $color-gray--light1;
$switch__circle--inner-border-active-hover: $base-color--selected;
$switch__circle--inner-box-shadow-active-hover: $base-color--selected;
$switch__circle--inner-box-shadow-checked-hover: $color-status--blue--wash2;
$switch__circle--inner-border-checked-active: $color-gray--light1;
$switch__circle--inner-box-shadow-checked-active: $base-brand-color;
$switch__circle--inner-border-checked-active-hover: $control-stroke-color--hover;
$switch__circle--inner-box-shadow-checked-active-hover: $base-color--selected;
$switch-opacity-disabled: 1;
$switch-transition: background-color $transition-duration--slow ease-out;
$switch-after-transition: transform $transition-duration--fast
  cubic-bezier(0.2, 0.8, 0.2, 1.2);

.switch {
  display: flex;
  align-items: center;
  margin: $switch-margin;
  cursor: pointer;
  &__box {
    display: flex;
    position: relative;
    width: $switch-width;
    height: $switch-height;
    border-radius: $switch-border-radius;
    background-color: $switch-bg;
    align-items: center;
    justify-content: center;
    &:after {
      display: block;
      position: absolute;
      width: $switch__circle-width;
      height: $switch__circle-height;
      left: 0;
      border-radius: $switch__circle-border-radius;
      content: "";
      cursor: pointer;
    }
  }
  &__input {
    @include hidden-input;
    ~ .switch__box {
      @include transition($switch-transition);
      &:after {
        background-color: $base-inverse-color;
        border: $border-width solid $switch__circle-border-color;
        @include transition($switch-after-transition);
      }
    }
    &:enabled {
      ~ .switch__box {
        &:hover {
          &:after {
            border: $border-width solid $switch__circle-border-color--hover;
            box-shadow: inset 0 0 0 5px $base-inverse-color,
              inset 0 0 0 6px $switch__circle--inner-box-shadow-hover;
          }
        }
        &:active {
          &:after {
            border: $border-width solid $switch__circle--inner-border-active;
            box-shadow: inset 0 0 0 5px $base-inverse-color,
              inset 0 0 0 10px $switch__circle--inner-box-shadow-active;
          }
          &:hover:after {
            border: $border-width solid
              $switch__circle--inner-border-active-hover;
            box-shadow: inset 0 0 0 5px $base-inverse-color,
              inset 0 0 0 10px $switch__circle--inner-box-shadow-active-hover;
          }
        }
      }
    }
    &:focus {
      ~ .switch__box {
        box-shadow: $base-box-shadow;
        &:after {
          box-shadow: $base-box-shadow;
        }
      }
    }
    &:checked {
      ~ .switch__box {
        background-color: $switch-bg--checked;
        &:after {
          border: $border-width solid $switch__circle-border-color--checked;
          transform: translateX(82%);
        }
      }
    }
    &:enabled:checked {
      ~ .switch__box {
        &:hover {
          &:after {
            border: $border-width solid
              $switch__circle-border-color--checked--hover;
            box-shadow: inset 0 0 0 5px $base-inverse-color,
              inset 0 0 0 6px $switch__circle--inner-box-shadow-checked-hover;
          }
        }
        &:active {
          &:after {
            border: $border-width solid
              $switch__circle--inner-border-checked-active;
            box-shadow: inset 0 0 0 5px $base-inverse-color,
              inset 0 0 0 10px $switch__circle--inner-box-shadow-checked-active;
          }
          &:hover:after {
            border: $border-width solid
              $switch__circle--inner-border-checked-active-hover;
            box-shadow: inset 0 0 0 5px $base-inverse-color,
              inset 0 0 0 10px
                $switch__circle--inner-box-shadow-checked-active-hover;
          }
        }
      }
    }
    &:disabled {
      ~ .switch__box {
        opacity: $switch-opacity-disabled;
        background-color: $switch-bg--disabled;
        &:after {
          border: $border-width solid $switch__circle-border-color--disabled;
        }
      }
    }
    &:disabled:checked {
      ~ .switch__box {
        background-color: $switch-bg--disabled--checked;
        &:after {
          border: $border-width solid
            $switch__circle-border-color--disabled--checked;
        }
      }
    }
  }
  &__label {
    margin: $switch__label-margin;
    display: inline-block;
    flex: 1 1 0%;
    position: relative;
    @include text-truncate;
  }
  &__label--wrap {
    white-space: normal;
    overflow: visible;
  }
}
