/docs/
/node_modules/
/lib/
/A*.js
/helpers*.js
/hooks*.js
/style-inject*.js
/index*.js
/useA*.js
/_rollupPluginBabelHelpers*
__diff_output__

# Editor generated backup files #
#################################
*~
*#
#*
.#*