/.cache/
/.vercel/
/.nyc_output/
/coverage/
/lib/
/node_modules/
/public/page-data/
/public/static/
/public/chunk-map.json
/public/index.html
/public/webpack.stats.json

/A*.js
/babel-preset.js
/babel-preset-local.js
/helpers*.js
/hooks*.js
/style-inject*.js
/index*.js
/useA*.js
/_rollupPluginBabelHelpers*
