.github/
.cache/
.nyc-output/
.vercel/
build/
coverage/
cypress/
docs/
fonts/
lib-demo/
public/

.buildme
.editorconfig
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.js
.travis.yml
babel.config.js
babel-preset-local.js
gatsby-config.js
gatsby-node.js
rollup.config.js
webpack.lib-demo.config.js

**/__image_snapshots__/
*.spec.js
*.mdx
