@import "../../styles";

$table-bg: transparent;
$table__top-pane--padding-bottom: 8px;
$table__total--padding-top: 15px;
$table__title--font-size: 18px;
$table-min-width: 600px;
$table-row-height: 40px;
$table-row-height-tight: 30px;
$table-cell-padding-left-right: 15px;
$table-cell-min-width: 90px;
$table-header-font-size: 12px;
$table-header-color: map-get($grey, "darken-2");
$table-header-line-height: 15px;
$table-body-font-size: 13px;
$table-body-line-height: 16.5px;
$table-cell-padding-top-bottom: ($table-row-height - $table-body-font-size) / 2;
$table-cell-tight-padding-top-bottom: (
    $table-row-height-tight - $table-body-font-size
  ) / 2;
$table-row-hover-color: map-get($grey, "lighten-3");
$table-row-stripe-color: map-get($grey, "lighten-6");

th {
  font-weight: normal;
  text-align: left;
}
table,
.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  min-width: $table-min-width;
  background: $table-bg;
  &--type-tight {
    .table__header-row,
    .table__row {
      height: $table-row-height-tight;
    }
    .table__cell {
      padding-top: $table-cell-tight-padding-top-bottom;
      padding-bottom: $table-cell-tight-padding-top-bottom;
    }
  }
  &--type-striped {
    .table__row:nth-child(even):not(:hover) {
      background-color: $table-row-stripe-color;
    }
  }
  &__top-pane {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: $table__top-pane--padding-bottom;
  }
  &__title {
    font-size: $table__title--font-size;
  }
  &__total {
    padding-top: $table__total--padding-top;
  }
  &__header-row,
  &__row {
    height: $table-row-height;
  }
  &__row:hover {
    background-color: $table-row-hover-color;
  }
  &__header-cell,
  &__cell {
    padding-left: $table-cell-padding-left-right;
    padding-right: $table-cell-padding-left-right;
    min-width: $table-cell-min-width;
  }
  &__header-cell {
    text-align: inherit;
    font-size: $table-header-font-size;
    font-weight: bold;
    line-height: $table-header-line-height;
    color: $table-header-color;
    border: $base-border-width solid $control-stroke-color;
  }
  &__cell {
    font-size: $table-body-font-size;
    line-height: $table-body-line-height;
    border: $base-border-width solid $control-stroke-color;
    padding-top: $table-cell-padding-top-bottom;
    padding-bottom: $table-cell-padding-top-bottom;
    vertical-align: top;
    word-break: break-word;
    &:not(:first-child) {
      border-left: none;
    }
    &:not(:last-child) {
      border-right: none;
    }
  }
  &__header-cell--align-right,
  &__cell--align-right {
    text-align: right;
  }
  &__header-cell--align-center,
  &__cell--align-center {
    text-align: center;
  }
}
