@import "../../styles";

$search-margin: 10px 0;
$search-icon-top: 3px;
$search-icon-search-left: 5px;
$search-icon-close-top: 7px;
$search-icon-close-right: 7px;
$search-icon-close-font-size: $font-size--xxs;
$search-input-padding-left: 24px;
$search-input-padding-top: 1px;
$search-tags-top: 3px;
$search-tags-left: 24px;
$search-loader-margin: 0;
$search-loader-top: 3px;
$search-loader-left: 5px;
$search-input-loader-padding-left: 43px;
$search-menu-items-top: 0;
$search-menu-items-left: 0;
$search-menu-item-height: 30px;
$search-menu-item-padding-top: 4px;
$search-menu-mark: $base-brand-color;

.search {
  position: relative;
  margin: $search-margin;
  display: inline-block;
  flex: 1;
  &__icon {
    position: absolute;
    top: $search-icon-top;
    z-index: 1;
    cursor: pointer;
    &.icon-search {
      left: $search-icon-search-left;
    }
    &.icon-close {
      right: $search-icon-close-right;
      top: $search-icon-close-top;
      font-size: $search-icon-close-font-size;
    }
  }
  &__icon + .input {
    padding-left: $search-input-padding-left;
  }
  &__tags {
    position: absolute;
    top: $search-tags-top;
    left: $search-tags-left;
  }
  & .loader {
    position: absolute;
    margin: $search-loader-margin;
    top: $search-loader-top;
    left: $search-loader-left;
    z-index: 1;
  }
  & .loader + .input {
    padding-left: $search-input-loader-padding-left;
  }
  & .select {
    display: block;
    &__menu-items {
      top: $search-menu-items-top;
      left: $search-menu-items-left;
    }
    &__menu-item {
      height: $search-menu-item-height;
      padding-top: $search-menu-item-padding-top;
      &--selected {
        &:hover::after,
        &:active::after {
          border-color: $base-inverse-color;
        }
        &::after {
          border-color: $search-menu-mark;
        }
      }
    }
  }
}
