@import "../../styles";

$btn-card-min-width: 350px;
$btn-card-min-height: 150px;
$btn-card-padding: 20px;
$btn-card-title-margin-bottom: 10px;
$btn-card-font-size: $font-size--md;
$btn-card-bar-height: -5px;

@include theme(a-button-card) using ($theme) {
  $btn-card-body-color: map-get($theme, "btn-card", "body-color");
  $btn-card-body-color--selected: map-deep-get($theme, "base", "color");
  $btn-card-border-color--disabled: map-get(
    $theme,
    "btn-card",
    "border-color--disabled"
  );
  $btn-card-title-color--disabled: map-get(
    $theme,
    "btn-card",
    "title-color--disabled"
  );
  $btn-card-body-color--disabled: map-get(
    $theme,
    "btn-card",
    "body-color--disabled"
  );
  $base-color--selected: map-get($theme, "btn-card", "box-shadow--selected");

  border: $border-width solid map-deep-get($theme, "base", "stroke-color");
  border-radius: $border-radius;

  &__title {
    color: map-deep-get($theme, "base", "color");
  }

  &__body {
    color: $btn-card-body-color;
  }

  &--selected {
    border-color: map-deep-get($theme, "base", "color--selected");
    @include tab-bar(
      $btn-card-bar-height,
      map-deep-get($theme, "base", "color--selected")
    );
    .a-button-card__body {
      color: $btn-card-body-color--selected;
    }
  }

  &--disabled {
    border-color: $btn-card-border-color--disabled;
    .a-button-card__title {
      color: $btn-card-title-color--disabled;
    }
    .a-button-card__body {
      color: $btn-card-body-color--disabled;
    }
  }

  &:hover:not(.a-button-card--disabled) {
    border-color: map-deep-get($theme, "base", "color--hover");
    @include tab-bar(
      $btn-card-bar-height,
      map-deep-get($theme, "base", "color--hover")
    );
    .a-button-card__body {
      color: $btn-card-body-color;
    }
  }

  &:focus:not(.a-button-card--disabled) {
    border-color: map-deep-get($theme, "base", "brand-color");
    box-shadow: map-deep-get($theme, "base", "box-shadow");
    &.a-button-card--selected {
      border-color: map-deep-get($theme, "base", "color--selected");
      box-shadow: 0 0 2px 2px rgba(4, 159, 217, 0.4),
        inset 0 -5px 0 0 map-deep-get($theme, "base", "color--selected");
    }
  }
}

.a-button-card {
  display: inline-block;
  min-width: $btn-card-min-width;
  min-height: $btn-card-min-height;
  padding: $btn-card-padding;
  text-align: center;
  background-color: transparent;

  &__title {
    font-size: $btn-card-font-size;
    margin-bottom: $btn-card-title-margin-bottom;
  }

  &__body {
    font-size: $font-size--sm;
  }
}
