@import "../../styles";

$divider-width: $base-border-width;
$divider-margin: 20px 0;

@include theme(a-divider) using ($theme) {
  border-top-color: map-deep-get($theme, "divider", "color-default");

  &--color-light {
    border-top-color: map-deep-get($theme, "divider", "color-light");
  }

  &--color-lighter {
    border-top-color: map-deep-get($theme, "divider", "color-lighter");
  }
}

.a-divider {
  position: relative;
  border-top-width: $divider-width;
  border-top-style: solid;
  margin: $divider-margin;
}
