@import "../../styles";

$icon-size-large: rem(3);
$icon-size-medium: $font-size--xl;
$icon-size-small: $font-size;

.a-icon {
  box-sizing: content-box;
  overflow: visible;
  width: 24px;
  fill: currentColor;

  &--size-large {
    width: $icon-size-large;
  }

  &--size-medium {
    width: $icon-size-medium;
  }

  &--size-small {
    width: $icon-size-small;
  }
}
