// -----------------------------------------------------------------------------
// Flex
// -----------------------------------------------------------------------------
@mixin flex-fluid {
  flex: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
}
