// -----------------------------------------------------------------------------
// Text Ellipsis
// -----------------------------------------------------------------------------
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// Checkmark
@mixin checkmark {
  display: block;
  width: $checkmark-width;
  height: $checkmark-height;
  border-width: $checkmark-border;
  transform: rotate($checkmark-rotation);
}
// Hide the default input field. Used by Checkboxes, Radios Buttons.
@mixin hidden-input {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
// -----------------------------------------------------------------------------
// Flex
// -----------------------------------------------------------------------------
@mixin flex-fluid {
  flex: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
}
// -----------------------------------------------------------------------------
// Motion
// -----------------------------------------------------------------------------
@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }

  @if $enable-prefers-reduced-motion-media-query {
    @media (prefers-reduced-motion: disable) {
      transition: none;
    }
  }
}

// -----------------------------------------------------------------------------
// Button styles
// -----------------------------------------------------------------------------
@mixin btn-color(
  $color,
  $background,
  $border,
  $color-hover,
  $background-hover,
  $border-hover,
  $color-focus,
  $background-focus,
  $border-focus,
  $color-active,
  $background-active,
  $border-active,
  $color-disabled,
  $background-disabled,
  $border-disabled
) {
  color: $color;
  fill: $color;
  background-color: $background;
  border-color: $border;
  &:hover {
    color: $color-hover;
    fill: $color-hover;
    background-color: $background-hover;
    border-color: $border-hover;
  }
  &:focus {
    color: $color-focus;
    fill: $color-focus;
    background-color: $background-focus;
    border-color: $border-focus;
    box-shadow: $base-box-shadow;
  }
  &:active {
    color: $color-active;
    fill: $color-active;
    background-color: $background-active;
    border-color: $border-active;
  }
  &.disabled,
  &:disabled {
    box-shadow: none;
    color: $color-disabled;
    fill: $color-disabled;
    background-color: $background-disabled;
    border-color: $border-disabled;
    opacity: 0.5;
  }
}
