$font-family: CiscoSans, Arial, sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;
// -----------------------------------------------------------------------------
// Font-size: xxs, xs, sm, base, lg, xl
// -----------------------------------------------------------------------------
$font-size: 16px !default; // Base
$font-size--xl: rem(1.5) !default; // 24px
$font-size--lg: rem(1.25) !default; // 20px
$font-size--sm: rem(0.875) !default; // 14px
$font-size--xs: rem(0.75) !default; // 12px
$font-size--xxs: rem(0.625) !default; // 10px
// -----------------------------------------------------------------------------
// Font-size: h1-h4
// -----------------------------------------------------------------------------
$h1-font-size: rem(1.5); // 24px
$h2-font-size: rem(1.25) !default; // 20px
$h3-font-size: rem(1.125) !default; // 18px
$h4-font-size: rem(1) !default; // 16px
$h5-font-size: rem(0.875) !default; // 14px
// -----------------------------------------------------------------------------
// Font-weight, line-height
// -----------------------------------------------------------------------------
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-xbold: 800 !default;
$font-weight: $font-weight-normal !default;

$font-weight--bold: bold !default;
$line-height: 1.5 !default;
$line-height--lg: rem(1.5) !default; // 24px
// -----------------------------------------------------------------------------
// Spacing, padding, border radius
// -----------------------------------------------------------------------------
$border-radius: rem(0.25) !default; // 4px
$border-radius--lg: rem(0.375) !default; // 6px
$border-radius--sm: rem(0.1875) !default; // 3px
$border-radius--xs: rem(0.125) !default; // 2px
$border-width: rem(0.0625) !default; // 1px
$spacer: rem(1.25) !default;
$spacing: rem(1.25) !default; // 20px
$z-index: 0 !default;
// -----------------------------------------------------------------------------
// Heading
// -----------------------------------------------------------------------------
$headings-font-family: inherit !default;
$headings-font-weight: 300 !default;
$headings-line-height: 1.1 !default;
$headings-margin: ($spacer / 2) !default;
$headings-color: inherit !default;
// -----------------------------------------------------------------------------
// Display Heading
// -----------------------------------------------------------------------------
$display1-size: rem(3.75) !default; // 60px
$display2-size: rem(2) !default; // 32px

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display-line-height: $headings-line-height !default;
// -----------------------------------------------------------------------------
// Subheadings, Emphasis
// -----------------------------------------------------------------------------
$small-font-size: 80% !default;
$mark-padding: rem(0.1875) !default;
$mark-bg: $color-status--yellow--wash3 !default;
// -----------------------------------------------------------------------------
// Grid breakpoints
// -----------------------------------------------------------------------------
$page-width--min: 320px !default;
$page-width--max: 1440px !default;
$breakpoints: (
  "xs": (
    min-width: 479px
  ),
  "sm": (
    min-width: 767px
  ),
  "md": (
    min-width: 992px
  ),
  "lg": (
    min-width: 1200px
  ),
  "xl": (
    min-width: 1440px
  )
);
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
// -----------------------------------------------------------------------------
// Alert colors
// -----------------------------------------------------------------------------
$color-information: $color-blue3;
$color-information-alt: $color-blue1;
$color-good: $color-status--green;
$color-warning: $color-status--orange;
$color-warning-alt: $color-status--yellow;
$color-error: $color-status--red;
// -----------------------------------------------------------------------------
// Alert Hover colors
// -----------------------------------------------------------------------------
$color-warning--state-hover: $color-status--orange--burnt2;
$color-error--state-hover: $color-status--red--burnt2;
// -----------------------------------------------------------------------------
// Alert box shadow
// -----------------------------------------------------------------------------
$default-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
$info-box-shadow: 0 0 2px 2px rgba(100, 187, 227, 0.4);
$success-box-shadow: 0 0 2px 2px rgba(108, 192, 74, 0.4);
$warning-box-shadow: 0 0 2px 2px rgba(255, 115, 0, 0.4);
$warning-alt-box-shadow: 0 0 2px 2px rgba(255, 204, 0, 0.4);
$danger-box-shadow: 0 0 2px 2px rgba(207, 32, 48, 0.4);
// -----------------------------------------------------------------------------
// Base Padding
// -----------------------------------------------------------------------------
$base-padding: rem(0.9375); // 15px
$base-padding-top: rem(0.9375);
$base-padding-right: rem(0.9375);
$base-padding-bottom: rem(0.9375);
$base-padding-left: rem(0.9375);
$base-padding-small: rem(0.625); // 10px
$base-padding-small-top: rem(0.625);
$base-padding-small-right: rem(0.625);
$base-padding-small-bottom: rem(0.625);
$base-padding-small-left: rem(0.625);
$base-padding-xsmall: rem(0.3125); // 5px
// -----------------------------------------------------------------------------
// Alpha channel
// -----------------------------------------------------------------------------
$alpha-1: 0.1;
$alpha-15: 0.15;
$alpha-2: 0.2;
$alpha-3: 0.3;
$alpha-4: 0.4;
$alpha-5: 0.5;
$alpha-6: 0.6;
$alpha-7: 0.7;
$alpha-8: 0.8;
$alpha-9: 0.9;
// -----------------------------------------------------------------------------
// Base Colors
// -----------------------------------------------------------------------------
$base-pg-bg: $color-gray--light4; // Page bg(#f2f2f2);
$base-icon-color: $color-gray--dark2; // Icons (#58585b);
// -----------------------------------------------------------------------------
// General Colors
// -----------------------------------------------------------------------------
$control-text-color: $color-gray--dark2; // Alternative Text (#58585b);
$control-fill-color: $white; // Alternative bg (#ffffff);
$control-stroke-color: $color-gray--light2; // Table Border (#dfdfdf);
$control-fill-color--disabled: $color-gray--light2; // Disabled bg (#dfdfdf);
// -----------------------------------------------------------------------------
// Base Properties
// -----------------------------------------------------------------------------
$base-font-size: $font-size--sm; // 14px
$base-font-weight: $font-weight; // 400
$base-line-height: $line-height; // 21px
$base-border-width: $border-width; // 1px;
$base-border-radius: $border-radius--sm; // 3px
// -----------------------------------------------------------------------------
// Blockquote
// -----------------------------------------------------------------------------
$blockquote-spacing: $spacing;
$blockquote-cite-color: $color-gray--medium3;
// -----------------------------------------------------------------------------
// Code blocks
// -----------------------------------------------------------------------------
$code-font-size: 87.5% !default;
$code-bg: $color-gray--light4;
$code-color: $color-status--red--burnt2;
$code-padding: 2px 4px;
$pre-padding: 10px;
// -----------------------------------------------------------------------------
// Motion
// -----------------------------------------------------------------------------
$transition-duration--extra-slow: 0.5s;
$transition-duration--slow: 0.4s;
$transition-duration: 0.3s;
$transition-duration--fast: 0.2s;
$transition-duration--extra-fast: 0.1s;

$transition-timing-function--standard: cubic-bezier(0.2, 0, 0.4, 1);
$transition-timing-function--entrance: cubic-bezier(0, 0, 0.4, 1);
$transition-timing-function--exit: cubic-bezier(0.2, 0, 0.4, 1);

$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$transition-base: all $transition-duration--fast ease-in-out;
$transition-fade: opacity 0.15s linear;
$transition-collapse: height 0.35s ease;
$transition-item: color $transition-duration--extra-fast
    $transition-timing-function--standard,
  background-color $transition-duration--fast
    $transition-timing-function--standard;
// -----------------------------------------------------------------------------
// Checkmark
// -----------------------------------------------------------------------------
$checkmark-height: rem(0.75);
$checkmark-width: rem(0.3125);
$checkmark-border: 0 rem(0.125) rem(0.125) 0;
$checkmark-rotation: 45deg;
// -----------------------------------------------------------------------------
// Icons (used in other components)
// -----------------------------------------------------------------------------
$btn--icon-width: 30px;
$btn--icon-height: 30px;
$btn--icon-bg: transparent;
$btn--icon-border-radius: 30px;
