@import "../../styles";

$dropdown-padding: 0;
$dropdown-min-width: 150px;
$dropdown-active-z-index: 1032;
$dropdown-item-z-index: 1033;
$dropdown-item-padding: rem(0.5) rem(1.5);
$dropdown-item-width: 100%;
$dropdown-transition: visibility $transition-duration ease,
  max-height $transition-duration--fast ease, opacity $transition-duration ease;
$dropdown--state-active-transition: visibility 0s ease,
  max-height $transition-duration ease, opacity $transition-duration--fast ease;

@include theme(a-dropdown) using ($theme) {
  &__menu {
    background: map-deep-get($theme, "control", "fill-color");
    border-color: map-deep-get($theme, "control", "stroke-color");
    box-shadow: map-deep-get($theme, "dropdown", "box-shadow");
  }
  &__item {
    color: map-deep-get($theme, "base", "color");
    &--state-selected {
      color: map-deep-get($theme, "base", "inverse-color");
      background-color: map-deep-get($theme, "base", "color--selected");
    }
    &:hover {
      color: map-deep-get($theme, "base", "inverse-color");
      background-color: map-deep-get($theme, "base", "color--hover");
    }
    &:focus {
      color: map-deep-get($theme, "base", "inverse-color");
      background-color: map-deep-get($theme, "base", "color--active");
    }
  }
}

.a-dropdown {
  display: inline-block;
  position: relative;

  &__menu {
    @include list--unstyled;
    border-width: $border-width;
    border-style: solid;
    display: none;
    line-height: 1.5;
    min-width: $dropdown-min-width;
    opacity: 0;
    padding: $dropdown-padding;
    pointer-events: auto;
    position: absolute;
    text-align: left;
    top: calc(100% + 10px);
    transform: translateY(-2em);
    visibility: hidden;
    width: auto;

    &--is-active {
      transition: opacity 0.3s;
      opacity: 1;
      visibility: visible;
      display: block;
      z-index: $dropdown-active-z-index;
      transform: translateY(0);
    }
  }

  .a-dropdown__item {
    display: inline-flex;
    font-size: $base-font-size;
    padding: $dropdown-item-padding;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: $dropdown-item-width;
    z-index: $dropdown-item-z-index;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

.a-app--animated .a-dropdown {
  .a-dropdown__menu {
    animation-name: fade-in;
    animation-duration: $transition-duration;
  }
  .a-dropdown__item {
    @include transition($transition-item);
  }
}
