@import "../../styles";

$dropdown-padding: 0;
$dropdown-box-shadow: 2px 2px 4px 0 rgba(223, 223, 223, 0.5);
$dropdown-min-width: 150px;
$dropdown-active-z-index: 1032;
$dropdown-item-z-index: 1033;
$dropdown-item-padding: rem(0.5) rem(1.5);
$dropdown-item-width: 100%;
$dropdown-transition: visibility $transition-duration ease,
  max-height $transition-duration--fast ease, opacity $transition-duration ease;
$dropdown--state-active-transition: visibility 0s ease,
  max-height $transition-duration ease, opacity $transition-duration--fast ease;

.dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;

  &__menu {
    @include list--unstyled;
    padding: $dropdown-padding;
    opacity: 0;
    visibility: hidden;
    display: none;
    background: $control-fill-color;
    border: $border-width solid $control-stroke-color;
    box-shadow: $dropdown-box-shadow;
    position: absolute;
    pointer-events: auto;
    top: calc(100% + 10px);
    width: auto;
    min-width: $dropdown-min-width;
    transform: translateY(-2em);
    text-align: left;
  }
  &__item {
    font-size: $base-font-size;
    z-index: $dropdown-item-z-index;
    display: inline-flex;
    color: $base-color;
    padding: $dropdown-item-padding;
    width: $dropdown-item-width;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    &--state-selected {
      color: $base-inverse-color;
      background-color: $base-color--selected;
    }
    &:hover {
      color: $base-inverse-color;
      background-color: $base-color--hover;
      text-decoration: none;
    }
    &:focus {
      color: $base-inverse-color;
      background-color: $base-color--active;
      text-decoration: none;
    }
  }
  &--state-active {
    .dropdown__menu {
      transition: opacity 0.3s;
      opacity: 1;
      visibility: visible;
      display: block;
      z-index: $dropdown-active-z-index;
      transform: translateY(0);
    }
  }
}

.a-app--animated .dropdown {
  .dropdown__menu {
    animation-name: fade-in;
    animation-duration: $transition-duration;
  }
  .dropdown__item {
    @include transition($transition-item);
  }
}
