// -----------------------------------------------------------------------------
// Base Colors
// -----------------------------------------------------------------------------
$base-bg: $color-gray--dark5; // Component bg (#18191d);
$base-pg-bg: $color-gray--dark5; // Page bg (#18191d);
$base-icon-color: $color-gray--light2; // Icons (#dfdfdf);
// -----------------------------------------------------------------------------
// General Colors
// -----------------------------------------------------------------------------
$control-text-color: $color-gray--light2; // Alternative Text (#dfdfdf);
$control-fill-color: $color-blue10; // Alternative bg (#17202b);
$control-stroke-color: rgba($color-gray--light2, $alpha-2); // (#dfdfdf, 20%);
$control-fill-color--disabled: rgba(
  $color-gray--light2,
  $alpha-3
); // Disabled bg (#dfdfdf, 30%);
// -----------------------------------------------------------------------------
// Code blocks
// -----------------------------------------------------------------------------
$code-color: $color-status--green--burnt1;
$code-bg: $color-blue10; // #17202b;
// -----------------------------------------------------------------------------
// Alert Hover colors
// -----------------------------------------------------------------------------
$color-warning--state-hover: $color-status--orange--wash1;
$color-error--state-hover: $color-status--red--wash1;
// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------
$footer-border-color: rgba($color-gray--light4, $alpha-2); // (#f2f2f2, 20%);
// -----------------------------------------------------------------------------
// Alerts / Page Level Notifications
// -----------------------------------------------------------------------------
// Information
$alert-bg: rgba($color-information, $alpha-4); // (#64BBE3, 40%);
$alert-border-color: rgba($color-status--blue--wash1, $alpha-4);
// (#81cdf0, 40%);
// Success
$alert-success-bg: rgba($color-good, $alpha-4); // (#6cc04a, 40%);
$alert-success-border-color: rgba(
  $color-status--green--wash1,
  $alpha-4
); // (#93e872, 40%);
// Warning
$alert-warning-bg: rgba($color-warning, $alpha-4); // (#FF7300, 40%);
$alert-warning-border-color: rgba(
  $color-status--orange--wash1,
  $alpha-4
); // (#ff9d4c, 40%);
// Danger / Error
$alert-danger-bg: rgba($color-status--red--burnt1, $alpha-4); // (#b5000f, 40%);
$alert-danger-border-color: rgba($color-status--red--wash1, $alpha-4);
// (#e6505d, 40%);
// -----------------------------------------------------------------------------
// Accordion
// -----------------------------------------------------------------------------
$accordion-header-bg-color: rgba($color-blue4, $alpha-3);
// (#6a7890, 30%);
$accordion-header-collapsed-bg-color: $color-blue10;
$accordion-body-bg: transparent;
// -----------------------------------------------------------------------------
// Badges
// -----------------------------------------------------------------------------
$badge-border-color: transparent;
// -----------------------------------------------------------------------------
// Buttons Group
// -----------------------------------------------------------------------------
$btn-group-color: $color-gray--light4; // #f2f2f2;
// -----------------------------------------------------------------------------
// Carousel
// -----------------------------------------------------------------------------
$carousel-dot-color: $color-gray--light2; //#dfdfdf;
$carousel-dot-color-selected: $color-blue1; // #049fd9;
// -----------------------------------------------------------------------------
// Contextual Menu
// -----------------------------------------------------------------------------
$context-menu-li-color-disabled: rgba(
  $color-gray--light4,
  $alpha-3
); // (#f2f2f2, 30%);
// -----------------------------------------------------------------------------
// Date Picker / Calendar
// -----------------------------------------------------------------------------
$date-picker-header-border-color: rgba(
  $color-gray--medium3,
  $alpha-3
); // (#9e9ea2, 30%);
$date-picker-range-bg: rgba($color-gray--light4, $alpha-2); // (#f2f2f2, 20%);
// (#dfdfdf, 15%);
// -----------------------------------------------------------------------------
// Dropdown
// -----------------------------------------------------------------------------
$dropdown-box-shadow: 2px 2px 4px 0 rgba($black, $alpha-5); // #000000, 50%
// -----------------------------------------------------------------------------
// Form Label
// -----------------------------------------------------------------------------
$label-color: $color-gray--light1; // #c6c7ca
// -----------------------------------------------------------------------------
// Hint
// -----------------------------------------------------------------------------
$help-block-color-warning: $color-status--orange;
$help-block-color-error: $color-status--red--wash1;
// -----------------------------------------------------------------------------
// Loading Indicators
// -----------------------------------------------------------------------------
// Page Loading Indicator
$page-loader-base-background-color: $color-blue10; // #17202b;
// -----------------------------------------------------------------------------
// Modal / Dialog
// -----------------------------------------------------------------------------
$modal-header-bg: $color-blue11; // #253040;
$modal-footer-bg: $color-blue11; // #253040;
// -----------------------------------------------------------------------------
// Numeric Input
// -----------------------------------------------------------------------------
$spinner-box-bg: $color-gray--dark5; // #18191d;
$spinner-icon-bg: $color-gray--dark5; // #18191d;
// -----------------------------------------------------------------------------
// Pagination
// -----------------------------------------------------------------------------
$pagination-link-color: $color-gray--light4; // #f2f2f2;
// -----------------------------------------------------------------------------
// Popover
// -----------------------------------------------------------------------------
$popover-header-bg: $color-blue11; // #253040;
$popover-footer-bg: $color-blue11; // #253040;
$popover-header-arrow-color: $color-blue11; // #253040;
$popover-footer-arrow-color: $color-blue11; // #253040;
// -----------------------------------------------------------------------------
// Pivot
// -----------------------------------------------------------------------------
$pivot-li-color-disabled: rgba(
  $color-gray--light4,
  $alpha-3
); // (#f2f2f2, 30%);
// -----------------------------------------------------------------------------
// Progress Bar
// -----------------------------------------------------------------------------
$progressbar-disabled-bg-color: rgba($color-blue1, $alpha-3); // (#049fd9, 30%);
// -----------------------------------------------------------------------------
// Radio
// -----------------------------------------------------------------------------
$radio-border--checked: $color-blue1; // #049fd9;
$radio-box-border--enabled--hover: $color-gray--medium3; // #9e9ea2;
$radio-fill--enabled: $color-category--blue--burnt1; // #0083b3;
$radio-border--enabled--active: $color-category--blue--burnt1; // #0083b3;
$radio-border--active--hover: $color-blue1; // #049fd9;
$radio-fill--active--hover: $color-blue1; // #049fd9;
$radio-border--disabled: $color-gray--light1; // #c6c7ca;
$radio-bg--disabled: transparent;
$radio-box-bg--disabled: $color-blue4; // #6a7890;
$radio-opacity-disabled: $alpha-3;
// -----------------------------------------------------------------------------
// Scrollbar
// -----------------------------------------------------------------------------
$scrollbar-track-bg: rgba($color-gray--light5, $alpha-1);
// (#fbfbfb, 10%);
$scrollbar-track-border-color: rgba($color-gray--light4, $alpha-1);
// (#f2f2f2, 10%);
$scrollbar-thumb-bg: $color-gray--dark5; // #18191d;
// -----------------------------------------------------------------------------
// Search
// -----------------------------------------------------------------------------
$search-menu-mark: $color-gray--light4;
// #f2f2f2;
// -----------------------------------------------------------------------------
// Select / Dropdown
// -----------------------------------------------------------------------------
$select-border-color--focus: $color-category--blue--burnt1;
// #0083b3;
// -----------------------------------------------------------------------------
// Sidebar
// -----------------------------------------------------------------------------
$sidebar-bg: linear-gradient(
  125.59deg,
  $color-blue8 0%,
  $color-blue10 100%
); // #29384b, #17202b
$sidebar-bg-gray: $sidebar-bg;
$sidebar__list-menu-icon-color: $color-gray--dark2; // #58585b;
$sidebar__list-menu-bg: $color-gray--light2; // #dfdfdf;
// -----------------------------------------------------------------------------
// Slider
// -----------------------------------------------------------------------------
$slider-selection-bg-disabled: $color-blue1; // #049fd9;
$slider-handle-border-disabled: $color-blue1; // #049fd9;
$slider-opacity-disabled: $alpha-3;
// -----------------------------------------------------------------------------
// Steps / Wizard
// -----------------------------------------------------------------------------
$step-icon-bg-visited: transparent;
$step-icon-color-visited: $color-gray--light4; // #f2f2f2;
$step-icon-bg: transparent;
$step-icon-color: $color-gray--light4; // #f2f2f2;
$step-icon-border-color: rgba($color-gray--light1, $alpha-3);
// (#c6c7ca, 30%);
$step-line-color: rgba($color-gray--light1, $alpha-3);
// (#c6c7ca, 30%);
// -----------------------------------------------------------------------------
// Tables
// -----------------------------------------------------------------------------
$table-bg: linear-gradient(
  125.59deg,
  rgba($color-blue7, $alpha-6) 0%,
  rgba($color-blue9, $alpha-6) 100%
); // #34455C, #1B2638
$table-header-color: $color-gray--medium4; // #b6b9bb;
$table-row-hover-color: $color-blue10; // #17202b;
$table-row-stripe-color: transparent;
// -----------------------------------------------------------------------------
// Switch
// -----------------------------------------------------------------------------
$switch-bg: rgba($color-gray--dark3, $alpha-8); // (#626469, 80%);
$switch__circle-border-color: rgba(
  $color-gray--dark3,
  $alpha-8
); // (#626469, 80%);
$switch__circle--inner-box-shadow-hover: $color-category--blue--burnt1; // #0083b3;
$switch__circle--inner-border-active: rgba($color-gray--dark3, $alpha-8);
// (#626469, 80%);
$switch__circle--inner-border-active-hover: $color-category--blue--burnt1; // #0083b3;
$switch-bg--checked: $color-blue1; // #049fd9;
$switch__circle-border-color--checked: $color-blue1;
// #049fd9;
$switch__circle-border-color--checked--hover: $color-blue1;
// #049fd9;
$switch__circle--inner-box-shadow-checked-hover: $color-blue1; // #049fd9;
$switch__circle--inner-border-checked-active: $color-blue1;
// #049fd9;
$switch__circle--inner-box-shadow-checked-active: $color-blue1; // #049fd9;
$switch__circle--inner-border-checked-active-hover: $color-blue1; // #049fd9;
$switch__circle--inner-box-shadow-checked-active-hover: $color-category--blue--burnt1; // #0083b3;
$switch-bg--disabled: rgba($color-gray--dark3, $alpha-8);
// (#626469, 80%);
$switch__circle-border-color--disabled: rgba(
  $color-gray--dark3,
  $alpha-8
); // (#626469, 80%);
$switch-bg--disabled--checked: $color-blue1; // #049fd9;
$switch__circle-border-color--disabled--checked: $color-blue1; // #049fd9;
$switch-opacity-disabled: $alpha-3;
// -----------------------------------------------------------------------------
// Tags
// -----------------------------------------------------------------------------
$tag-bg-color: $color-gray--dark2; // #58585b;
$tag-color: $white;
// -----------------------------------------------------------------------------
// Timeline
// -----------------------------------------------------------------------------
$timeline-line-bg-color: $color-gray--dark3; // #626469
$timeline-icon-border-color: $color-gray--dark3; // #626469
$timeline-icon-bg-color: $color-gray--light2; // #dfdfdf;
$timeline-item-color-hover: $color-blue10; // #17202B;
