// -----------------------------------------------------------------------------
// Carousel
// -----------------------------------------------------------------------------
$carousel-dot-color: map-get($grey, "lighten-3"); //#dfdfdf;
$carousel-dot-color-selected: map-get($cisco-blue, "base"); // #049fd9;
// -----------------------------------------------------------------------------
// Date Picker / Calendar
// -----------------------------------------------------------------------------
$date-picker-header-border-color: rgba(
  map-get($grey, "base"),
  $alpha-3
); // (#9e9ea2, 30%);
$date-picker-range-bg: rgba(
  map-get($grey, "lighten-5"),
  $alpha-2
); // (#f2f2f2, 20%);
// -----------------------------------------------------------------------------
// Pivot
// -----------------------------------------------------------------------------
$pivot-li-color-disabled: rgba(
  map-get($grey, "lighten-5"),
  $alpha-3
); // (#f2f2f2, 30%);
// -----------------------------------------------------------------------------
// Sidebar
// -----------------------------------------------------------------------------
$base-icon-color: map-get($grey, "lighten-3"); // Icons (#dfdfdf);
$sidebar-bg: linear-gradient(
  125.59deg,
  map-get($dusk, "3") 0%,
  map-get($dusk, "6") 100%
); // #29384b, #17202b
$sidebar-bg-gray: $sidebar-bg;
$sidebar__list-menu-icon-color: map-get($grey, "darken-5"); // #58585b;
$sidebar__list-menu-bg: map-get($grey, "lighten-3"); // #dfdfdf;
// -----------------------------------------------------------------------------
// Steps / Wizard
// -----------------------------------------------------------------------------
$step-icon-bg-visited: transparent;
$step-icon-color-visited: map-get($grey, "lighten-5"); // #f2f2f2;
$step-icon-bg: transparent;
$step-icon-color: map-get($grey, "lighten-5"); // #f2f2f2;
$step-icon-border-color: rgba(map-get($grey, "lighten-2"), $alpha-3);
// (#c6c7ca, 30%);
$step-line-color: rgba(map-get($grey, "lighten-2"), $alpha-3);
// (#c6c7ca, 30%);
