// -----------------------------------------------------------------------------
// Base Colors
// -----------------------------------------------------------------------------
$base-icon-color: map-get($grey, "lighten-3"); // Icons (#dfdfdf);
// -----------------------------------------------------------------------------
// General Colors
// -----------------------------------------------------------------------------
$control-text-color: map-get($grey, "lighten-3"); // Alternative Text (#dfdfdf);
// -----------------------------------------------------------------------------
// Badges
// -----------------------------------------------------------------------------
$badge-border-color: transparent;
// -----------------------------------------------------------------------------
// Buttons Group
// -----------------------------------------------------------------------------
$btn-group-color: map-get($grey, "lighten-5"); // #f2f2f2;
// -----------------------------------------------------------------------------
// Carousel
// -----------------------------------------------------------------------------
$carousel-dot-color: map-get($grey, "lighten-3"); //#dfdfdf;
$carousel-dot-color-selected: map-get($cisco-blue, "base"); // #049fd9;
// -----------------------------------------------------------------------------
// Contextual Menu
// -----------------------------------------------------------------------------
$context-menu-li-color-disabled: rgba(
  map-get($grey, "lighten-5"),
  $alpha-3
); // (#f2f2f2, 30%);
// -----------------------------------------------------------------------------
// Date Picker / Calendar
// -----------------------------------------------------------------------------
$date-picker-header-border-color: rgba(
  map-get($grey, "base"),
  $alpha-3
); // (#9e9ea2, 30%);
$date-picker-range-bg: rgba(
  map-get($grey, "lighten-5"),
  $alpha-2
); // (#f2f2f2, 20%);
// (#dfdfdf, 15%);
// -----------------------------------------------------------------------------
// Form Label
// -----------------------------------------------------------------------------
$label-color: map-get($grey, "lighten-2"); // #c6c7ca
// -----------------------------------------------------------------------------
// Hint
// -----------------------------------------------------------------------------
$help-block-color-warning: map-get($status-orange, "base");
$help-block-color-error: map-get($status-red, "wash-1");
// -----------------------------------------------------------------------------
// Loading Indicators
// -----------------------------------------------------------------------------
// Page Loading Indicator
$page-loader-base-background-color: map-get($dusk, "6"); // #17202b;
// -----------------------------------------------------------------------------
// Modal / Dialog
// -----------------------------------------------------------------------------
$modal-header-bg: map-get($dusk, "4"); // #253040;
$modal-footer-bg: map-get($dusk, "4"); // #253040;
// -----------------------------------------------------------------------------
// Numeric Input
// -----------------------------------------------------------------------------
$spinner-box-bg: map-get($grey, "darken-7"); // #18191d;
$spinner-icon-bg: map-get($grey, "darken-7"); // #18191d;
// -----------------------------------------------------------------------------
// Pagination
// -----------------------------------------------------------------------------
$pagination-link-color: map-get($grey, "lighten-5"); // #f2f2f2;
// -----------------------------------------------------------------------------
// Popover
// -----------------------------------------------------------------------------
$popover-header-bg: map-get($dusk, "4"); // #253040;
$popover-footer-bg: map-get($dusk, "4"); // #253040;
$popover-header-arrow-color: map-get($dusk, "4"); // #253040;
$popover-footer-arrow-color: map-get($dusk, "4"); // #253040;
// -----------------------------------------------------------------------------
// Pivot
// -----------------------------------------------------------------------------
$pivot-li-color-disabled: rgba(
  map-get($grey, "lighten-5"),
  $alpha-3
); // (#f2f2f2, 30%);
// -----------------------------------------------------------------------------
// Progress Bar
// -----------------------------------------------------------------------------
$progressbar-disabled-bg-color: rgba(
  map-get($cisco-blue, "base"),
  $alpha-3
); // (#049fd9, 30%);
// -----------------------------------------------------------------------------
// Search
// -----------------------------------------------------------------------------
$search-menu-mark: map-get($grey, "lighten-5");
// #f2f2f2;
// -----------------------------------------------------------------------------
// Select / Dropdown
// -----------------------------------------------------------------------------
$select-border-color--focus: map-get($cisco-blue, "burnt-1");
// #0083b3;
// -----------------------------------------------------------------------------
// Sidebar
// -----------------------------------------------------------------------------
$sidebar-bg: linear-gradient(
  125.59deg,
  map-get($dusk, "3") 0%,
  map-get($dusk, "6") 100%
); // #29384b, #17202b
$sidebar-bg-gray: $sidebar-bg;
$sidebar__list-menu-icon-color: map-get($grey, "darken-5"); // #58585b;
$sidebar__list-menu-bg: map-get($grey, "lighten-3"); // #dfdfdf;
// -----------------------------------------------------------------------------
// Slider
// -----------------------------------------------------------------------------
$slider-selection-bg-disabled: map-get($cisco-blue, "base"); // #049fd9;
$slider-handle-border-disabled: map-get($cisco-blue, "base"); // #049fd9;
$slider-opacity-disabled: $alpha-3;
// -----------------------------------------------------------------------------
// Steps / Wizard
// -----------------------------------------------------------------------------
$step-icon-bg-visited: transparent;
$step-icon-color-visited: map-get($grey, "lighten-5"); // #f2f2f2;
$step-icon-bg: transparent;
$step-icon-color: map-get($grey, "lighten-5"); // #f2f2f2;
$step-icon-border-color: rgba(map-get($grey, "lighten-2"), $alpha-3);
// (#c6c7ca, 30%);
$step-line-color: rgba(map-get($grey, "lighten-2"), $alpha-3);
// (#c6c7ca, 30%);
// -----------------------------------------------------------------------------
// Tables
// -----------------------------------------------------------------------------
$table-bg: linear-gradient(
  125.59deg,
  rgba(map-get($dusk, "2"), $alpha-6) 0%,
  rgba(map-get($dusk, "5"), $alpha-6) 100%
); // #34455C, #1B2638
$table-header-color: map-get($grey, "lighten-1"); // #b6b9bb;
$table-row-hover-color: map-get($dusk, "6"); // #17202b;
$table-row-stripe-color: transparent;
// -----------------------------------------------------------------------------
// Switch
// -----------------------------------------------------------------------------
$switch-bg: rgba(map-get($grey, "darken-4"), $alpha-8); // (#626469, 80%);
$switch__circle-border-color: rgba(
  map-get($grey, "darken-4"),
  $alpha-8
); // (#626469, 80%);
$switch__circle--inner-box-shadow-hover: map-get(
  $cisco-blue,
  "burnt-1"
); // #0083b3;
$switch__circle--inner-border-active: rgba(
  map-get($grey, "darken-4"),
  $alpha-8
);
// (#626469, 80%);
$switch__circle--inner-border-active-hover: map-get(
  $cisco-blue,
  "burnt-1"
); // #0083b3;
$switch-bg--checked: map-get($cisco-blue, "base"); // #049fd9;
$switch__circle-border-color--checked: map-get($cisco-blue, "base");
// #049fd9;
$switch__circle-border-color--checked--hover: map-get($cisco-blue, "base");
// #049fd9;
$switch__circle--inner-box-shadow-checked-hover: map-get(
  $cisco-blue,
  "base"
); // #049fd9;
$switch__circle--inner-border-checked-active: map-get($cisco-blue, "base");
// #049fd9;
$switch__circle--inner-box-shadow-checked-active: map-get(
  $cisco-blue,
  "base"
); // #049fd9;
$switch__circle--inner-border-checked-active-hover: map-get(
  $cisco-blue,
  "base"
); // #049fd9;
$switch__circle--inner-box-shadow-checked-active-hover: map-get(
  $cisco-blue,
  "burnt-1"
); // #0083b3;
$switch-bg--disabled: rgba(map-get($grey, "darken-4"), $alpha-8);
// (#626469, 80%);
$switch__circle-border-color--disabled: rgba(
  map-get($grey, "darken-4"),
  $alpha-8
); // (#626469, 80%);
$switch-bg--disabled--checked: map-get($cisco-blue, "base"); // #049fd9;
$switch__circle-border-color--disabled--checked: map-get(
  $cisco-blue,
  "base"
); // #049fd9;
$switch-opacity-disabled: $alpha-3;
// -----------------------------------------------------------------------------
// Tags
// -----------------------------------------------------------------------------
$tag-bg-color: map-get($grey, "darken-5"); // #58585b;
$tag-color: $white;
// -----------------------------------------------------------------------------
// Timeline
// -----------------------------------------------------------------------------
$timeline-line-bg-color: map-get($grey, "darken-4"); // #626469
$timeline-icon-border-color: map-get($grey, "darken-4"); // #626469
$timeline-icon-bg-color: map-get($grey, "lighten-3"); // #dfdfdf;
$timeline-item-color-hover: map-get($dusk, "6"); // #17202B;
