@import "../../styles";

$progressbar-height: 8px;
$progressbar-bg-height: 16px;
$progressbar-width: 175px;
$progressbar-margin: 20px 0;
$progressbar-border-radius: 1px;
$progressbar-fill-height: 8px;
$progressbar-fill-border-radius: 1px;
$progressbar-bg-color: $base-brand-color;
$progressbar-disabled-bg-color: $color-status--blue--wash1;
$progressbar-striped-opacity: 0.5;
$progressbar-animation-timing: 1s linear infinite !default;
$progressbar-transition: width 0.6s ease !default;

.progressbar {
  margin: $progressbar-margin;
  background: $control-stroke-color;
  border-radius: $progressbar-border-radius;
  height: $progressbar-height;
  width: $progressbar-width;
  &__fill {
    display: block;
    height: $progressbar-fill-height;
    border-radius: $progressbar-fill-border-radius;
  }
  @include progressbar-color($progressbar-bg-color);

  $i: 0;
  @for $i from 0 through 100 {
    &[data-percentage="#{$i}"] {
      .progressbar__fill {
        width: #{$i}#{"%"};
      }
    }
  }
  &--state-striped {
    .progressbar__fill {
      background-image: linear-gradient(
        60deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
      background-size: $progressbar-bg-height $progressbar-bg-height;
    }
  }
  &--state-disabled {
    @include progressbar-color($progressbar-disabled-bg-color);
  }
}

.progressbar-label {
  display: inline-block;
  &--state-disabled {
    opacity: $progressbar-striped-opacity;
  }
}

.progressbar-label + .progressbar {
  display: inline-block;
  margin: 0;
}

.a-app--animated {
  // Set '$enable-transitions' to 'false' if you want to stop animated progressbar
  // even when the "a-app--animated" class applied to the root.
  @if $enable-transitions {
    .progressbar--state-animated {
      .progressbar__fill {
        animation: progressbar-stripes $progressbar-animation-timing;

        @media (prefers-reduced-motion: disable) {
          animation: none;
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Animated Progress Bar
// -----------------------------------------------------------------------------

// Disable animation if transitions are disabled
@if $enable-transitions {
  @keyframes progressbar-stripes {
    from {
      background-position: $progressbar-bg-height 0;
    }
    to {
      background-position: 0 0;
    }
  }
}
