@import "../../styles";

$footer-min-height: 35px;
$footer-max-height: 65px;
$footer-padding: 10px 20px;
$footer-font-size: $font-size--xs;
$footer-border-color: $color-gray--light4;

.footer {
  display: block;
  min-height: $footer-min-height;
  max-height: $footer-max-height;
  padding: $footer-padding;
  font-size: $footer-font-size;
  background-color: $base-bg;
  color: $control-text-color;
  border-top: $base-border-width solid $footer-border-color;
  &__legal {
    text-align: center;
  }
}
