@import "../../styles";

$footer-min-height: 35px;
$footer-max-height: 65px;
$footer-padding: 10px 20px;
$footer-font-size: $font-size--xs;
$footer-border-color: map-get($grey, "lighten-5");

@include theme(a-button) using ($theme) {
  background-color: map-deep-get($theme, "base", "bg");
  color: map-deep-get($theme, "control", "text-color");
}

.a-footer {
  display: block;
  min-height: $footer-min-height;
  max-height: $footer-max-height;
  padding: $footer-padding;
  font-size: $footer-font-size;
  border-top: $base-border-width solid $footer-border-color;
  &__legal {
    text-align: center;
  }
}
