@import "../../styles";

.a-combobox {
  .a-dropdown {
    display: flex;
    align-items: center;
    align-self: stretch;
  }

  &__input {
    background: transparent;
    box-sizing: border-box;
    color: currentColor;
    width: 100%;
    position: relative;
    padding: 2px 0 0 6px;
    border: none;
    appearance: none;
    text-indent: 1px;
    align-self: stretch;
    &:focus {
      outline: none;
    }
  }

  &__chevron {
    cursor: pointer;
    padding: 0 7px;
    align-self: stretch;
  }

  &__menu-items {
    top: 100%;
    border-bottom-left-radius: $border-radius--sm;
    border-bottom-right-radius: $border-radius--sm;
    cursor: pointer;
    left: -1px;
    margin: 0;
    overflow: auto;
    right: -25px;
    user-select: none;
    z-index: 999;

    .a-combobox__menu-item {
      height: 28px;
      line-height: $line-height--lg;
      padding: 2px 0 0 0;
      text-indent: 6px;
    }
  }

  &.a-input-base--clearable {
    .a-combobox__menu-items {
      right: -50px;
    }
  }
}
