@import "../../styles";

$combobox-height: 28px;
$combobox-padding: 6px;
$combobox__menu-item-line-height: $line-height--lg;
$combobox__menu-item-padding: 2px 0 0 0;
$combobox__menu-items-margin: 0;
$combobox__menu-items-right: 0;
$combobox__menu-items-left: 0;
$combobox__menu-items-z-index: 999;

.a-combobox {
  &__menu-items {
    top: calc(100% - 1px);
    border-bottom-left-radius: $border-radius--sm;
    border-bottom-right-radius: $border-radius--sm;
    cursor: pointer;
    left: $combobox__menu-items-left;
    margin: $combobox__menu-items-margin;
    overflow: auto;
    right: $combobox__menu-items-right;
    user-select: none;
    z-index: $combobox__menu-items-z-index;

    .a-combobox__menu-item {
      height: $combobox-height;
      line-height: $combobox__menu-item-line-height;
      padding: $combobox__menu-item-padding;
      text-indent: $combobox-padding;
    }
  }
}
