@import "../../styles";

.a-data-table {
  &__header {
    &__sort {
      &.a-icon {
        width: 10px;
        opacity: 0;
      }

      &--active.a-icon {
        opacity: 1;
      }
    }

    &--sortable {
      cursor: pointer;
    }

    &:hover {
      .a-icon.a-data-table__header__sort:not(.a-icon.a-data-table__header__sort--active) {
        opacity: 0.5;
      }
    }
  }

  .text-start {
    text-align: start;
  }

  .text-center {
    text-align: center;
  }

  .text-end {
    text-align: end;
  }
}
