@import "../../styles";

.a-data-table {
  &__header {
    &__sort {
      width: 10px;
      opacity: 0;

      &--active {
        opacity: 1;
      }
    }

    &--sortable {
      cursor: pointer;
    }

    &:hover {
      .a-data-table__header__sort:not(.a-data-table__header__sort--active) {
        opacity: 0.5;
      }
    }
  }

  .text-start {
    text-align: start;
  }

  .text-center {
    text-align: center;
  }

  .text-end {
    text-align: end;
  }
}
