.header {
  display: flex;
  height: $header-height;
  padding: $header-padding;
  width: 100%;
  min-width: $header-min-width;
  align-items: center;
  background: $header-bg-color;
  box-shadow: $default-box-shadow;
  z-index: 1030;
  overflow: visible;
  &__logo {
    display: block;
    margin: $header__logo-margin;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      box-shadow: $base-box-shadow;
      text-decoration: none;
    }
    .icon-cisco {
      display: block;
      font-size: $header__logo-font-size;
      line-height: 1;
      &:before {
        color: $header__logo-color;
      }
    }
  }
  &__navigation {
    display: flex;
    align-self: flex-end;
    flex: 1;
    .tab-group {
      margin: 0;
      &__tab {
        padding-bottom: ($header-height - $h2-font-size) / 2 - 1;
        .icon {
          font-size: $header-triangle-icon-font-size;
          font-weight: $font-weight-xbold;
          margin: $header-triangle-icon-margin;
          vertical-align: middle;
        }
      }
    }
  }
  &__title {
    max-width: 400px;
    margin: 0 50px 0 0;
    &:focus {
      outline: $base-outline;
    }
    a,
    a:visited,
    a:hover,
    a:focus,
    a:active {
      color: $base-color;
      text-decoration: none;
    }
    h1,
    h2 {
      margin: 0;
      font-weight: 200;
    }
  }
  &__toolbar {
    font-size: $header__toolbar-font-size;
    display: inline-flex;
  }
  &__icon {
    @include btn-icon();
    height: $header__icon-size;
    width: $header__icon-size;
    &:focus {
      box-shadow: $base-box-shadow;
      text-decoration: none;
    }
  }
  .dropdown {
    &__menu {
      $top: ($header-height - $h2-font-size) / 2;
      top: calc(100% + #{$top});
      left: $header-dropdown-left;
    }
  }
}
