@import "../../styles";

$textarea-width: 100%;
$textarea-label-margin: 0;

@include theme(a-textarea) using ($theme) {
  &__label {
    color: map-deep-get($theme, "label", "color");
  }

  &__field {
    background: map-deep-get($theme, "text-input", "bg");
    border-color: map-deep-get($theme, "base", "stroke-color");
    color: map-deep-get($theme, "base", "color");

    &:hover {
      border-color: map-deep-get($theme, "control", "stroke-color--hover");
    }

    &:focus {
      border-color: map-deep-get($theme, "base", "color--hover");
      box-shadow: map-deep-get($theme, "base", "box-shadow");
    }

    &.disabled,
    &[disabled] {
      color: map-deep-get($theme, "text-input", "color--disabled");
      border-color: map-deep-get(
        $theme,
        "text-input",
        "border-color--disabled"
      );
      background: map-deep-get($theme, "text-input", "bg--disabled");
    }

    &[readonly],
    &[readonly]:focus {
      border-color: map-deep-get(
        $theme,
        "text-input",
        "border-color--readonly"
      );
      background: map-deep-get($theme, "text-input", "bg--readonly");
    }

    &--state-warning {
      @include input-state(
        $color-warning,
        $warning-box-shadow,
        map-deep-get($theme, "color", "warning--state-hover")
      );
    }

    &--state-danger {
      @include input-state(
        $color-error,
        $danger-box-shadow,
        map-deep-get($theme, "color", "error--state-hover")
      );
    }
  }
}

.a-textarea {
  &__label {
    display: block;
    margin: $textarea-label-margin;
    font-size: $font-size--sm;
  }

  &__field {
    width: $textarea-width;
    box-sizing: border-box;
    position: relative;
    padding: $input-padding;
    border-style: solid;
    border-width: $border-width;
    border-radius: $border-radius--sm;
    appearance: none;
    &:focus {
      outline: none;
    }

    &:active {
      border-color: $input-border-color--active;
    }

    &.disabled,
    &[disabled] {
      @include disabled;
    }

    &[readonly],
    &[readonly]:focus {
      box-shadow: none;
    }
  }
}

.a-app--animated .a-textarea__field {
  @include transition($input-transition);
}
