@import "../../styles";

@import "./base/reset";
@import "./base/scrollbar";
@import "./base/typography";
@import "./base/animations";
@import "./base/helpers";

.a-app {
  @import "./base/vendor/bootstrap/functions";
  @import "./base/vendor/bootstrap/mixins/breakpoints";
  @import "./base/vendor/bootstrap/mixins/grid";
  @import "./base/vendor/bootstrap/utilities/custom";
  @import "./base/vendor/bootstrap/utilities/flex";
  @import "./base/vendor/bootstrap/mixins/grid-framework";
  @import "./base/vendor/bootstrap/grid";

  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
