.theme--default {
  a {
    color: map-deep-get($atomic-default, "base", "brand-color");

    &:hover,
    &:focus {
      color: map-deep-get($atomic-default, "base", "brand-color");
    }

    &:active {
      color: map-deep-get($atomic-default, "base", "color--active");
    }

    &.disabled {
      color: map-get($grey, "lighten-2");
    }
  }
}

.theme--dusk {
  a {
    color: map-deep-get($atomic-dusk, "base", "brand-color");

    &:hover,
    &:focus {
      color: map-deep-get($atomic-dusk, "base", "brand-color");
    }

    &:active {
      color: map-deep-get($atomic-dusk, "base", "color--active");
    }

    &.disabled {
      color: map-get($grey, "lighten-2");
    }
  }
}

.a-app a {
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }

  font-size: $base-font-size;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  .a-icon {
    &:hover {
      text-decoration: none;
    }
  }
}
